<div class="container mt-5">
    <div class="card p-2">

        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Producto</mat-label>
                    <input matInput placeholder="Ej: 'Harry Potter y la Piedra Filosofal'">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="Breve descripción del producto">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Precio</mat-label>
                    <input matInput placeholder="Precio en €">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Precio en oferta</mat-label>
                    <input matInput placeholder="Precio final con oferta">
                </mat-form-field>
            </div>
            <div class="col-6">
                Image <area shape coords href alt>
            </div>
        </div>

    </div>
</div>